body{
  background-color: #8badd0;
}

.vertitle{
  font-size: 25px;
  display: block;
  text-align: center;
}

h1{
  text-align: center;
  font-size: 25px;
  color: white;
}

.thumbnails{
  height: 360px;
  width: 410px;
  display: block;
  margin: auto;
  margin-bottom: 15px;
}

.links{
  display: block;
  text-align: center;
}

.logo{
  display: block;
  height: 100px;
}

.sub{
  display: block;
  margin: auto;
  height: 100px;
}